.benefits {
    display: flex;
}

.benefits__item {
    flex: 1;
    padding: 0 5%;
    position: relative;

    &::before {
        content: url("../img/benefits-icon/decor-benefits.png" );
        position: absolute;
        top: 54px;
        right: 0;
        transform: translate(50%);
        
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}

