@import "../media";

.benefits {
    display: flex;

    @include phones {
        flex-direction: column;
    }

&__item {
    flex: 1;
    padding: 0 5%;
    position: relative;

    @include tablets {
        padding: 0 0.7%;
    }

    @include phones {
        padding: 0;
        margin-bottom: rem(24px);
    }

    &::before {
        content: url("../img/benefits-icon/decor-benefits.png" );
        position: absolute;
        top: rem(54px);
        right: 0;
        transform: translate(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }
}
}