$red: #E01F3D;

.button {
    display: inline-block;
    background: $red;
    border-radius: 100px;
    padding: 18px 41px;
    gap: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;

    &:hover {
        background: #CA1B36;
    }
}


