$red: #E01F3D;

.button {
    display: inline-block;
    background: $red;
    border-radius: 100px;
    padding: 18px 41px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background: #CA1B36;
    }

&--no-bg {
    background: transparent;
    font-weight: 400;
    text-transform: capitalize;
    padding: 18px 11px;

    &:hover {
        color: #E01F3D;
        background: transparent;
    }
}
}