.contacts__address {
    font-style: normal;
    color: #292929;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
}

.contacts__phone {
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    color: #292929;
  
    &::before {
        content: url("../img/phone.png");
        margin-right: 6px;
    }
}

