.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(20px) 0;
    background-color: white;
    
 &__container-section  {
     margin-top: auto;
     display: flex;
     align-items: center;
     justify-content: space-between;

     @include phones {
        flex-direction: column;
     }
 }

}
