footer {
    height: 86px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.footer-container__section {
    height: 86px;
    
}

.footer__col {
    display: flex;
    align-items: center; 
}

.footer__col--right {
    align-items: flex-end;
}








