.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

 &-container {
     margin-top: auto;
}

&-container__section {
    height: 86px;
}
}

.footer__col {
    display: flex;
    align-items: center;

&--right {
    align-items: flex-end;
}
}