 .hero {
    background-color: #F5F5F5;
    height: 100vh;
    min-height: 650px;
    color:#292929;
    position: relative;

&__title-section {
    width: 42%;
    align-items: center;
}

&__container {
    background: url("../img/hero-img.png") right 4% top 42% no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 140px;
}

&__main-title { 
    line-height: 52px;
    margin-bottom: 22px;
}

&__subtitle {
    font-family: "Alegreya Sans", sans-serif;
    line-height: 25px; 
    margin-bottom: 34px;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    width: 85%;
}

&:after {
    content: '';
    position: absolute;
    right: 22%;
   // bottom: -5px;
    width: 46.32px;
    height: 10.38px;  
    display: block;  
    background: #C4C4C4;
    transform: rotate(-45deg);
}
} 

