.map {
    display: block;
    width: 1100px;
    height: 652px;
    
&__img {  
    height: 652px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
}