@import "../variables";
@import "../media";


.menu {
    margin: 0 rem(30px);
    padding-top: rem(5px);

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    font-size: rem(18px);
    font-family: "Alegreya Sans", sans-serif;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(27px);
    margin-bottom: rem(10px);
    transition: color 0.3s;
   
    &:last-child {
    margin-right: 0;
    }

    &:hover {
        color: #E01F3D;;
    }
}

.menu__link {
    white-space: nowrap;
}

.menu--vertical {
    color: #fff;
    text-align: center;
    margin-bottom: rem(30px);

    @include tablets {
        display: flex;
    }
}

.menu--vertical .menu__list {
    flex-direction: column;
    font-size: rem(36px);
}

.menu--vertical .menu__item {
    margin-right: 0;
}