.socials {
    display: flex;
    align-items: center;  
    margin-bottom: 10px;

    &__img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: relative;
    }
}

.socials__item {
    margin-right: 10px;

&:last-child {
    margin-right: 0px;
}
}


