
.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.breadcrumbs__item:first-child {
    padding-left: 0px;
}

.breadcrumbs__item:after {
    padding-left: 4px;
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: 700;
}

.breadcrumbs__item:last-child:after {
    content: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
}