
.contacts {
    font-style: normal;
    text-align: right;
}

.contacts.header__contacts {
    margin-right: 5px;
    
}

.contacts__phone {
    font-size: 26px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
    margin-top: -8px;
}

.contacts__dropdown-title:hover {
    color: #fff;
}

.contacts--free-call { 
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}
