.dropdown {
    position: relative;
}

.dropdown:hover .dropdown__menu {
    left: initial;
    right: 0;
    opacity: 1;
}

.dropdown__menu::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    right: 40px;
    top: -9.5px;
    width: 0px;
    height: 0px;
    border-bottom-color: #EDEDED;
    border-top-width: 0;
    display: block;
    opacity: 1;
}

.dropdown__menu {
    position: absolute;
    background:  #EDEDED;
    border-radius: 5px;
    padding: 13px;
    width: 160px;
    top: 100%;
    margin-top: 7px;
    left: -9999px;
    opacity: 0;
    transition: opacity 0.7s;
}

.dropdown__list {
    text-align: left;
}

.dropdown__time {
    color: #1E1F20;
    font-size: 13px;
    line-height: 21px;
}

.dropdown--work-time {
    font-weight: 700;
}