.menu.menu--header {
    margin-right: 57px;
    margin-bottom: 9px;
}

.menu__list {
    display: flex;
}

.menu__item {
    color: inherit;
    margin-right: 62px;  
}

.menu__item:last-child {
    margin-right: 0px; 
}

.menu__link {
    font-size: 16px;
    transition: color 0.3s;
}

.menu__link--active {
    color: #8F00FF;
}

.menu__link:hover {
    color: #8F00FF;
}
