.offers__container {
    margin-bottom: 127px;
}

.offers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offers__card {
    min-height: 400px;
    background: #fff;
    border-radius: 9px 9px 5px 5px;
    overflow: hidden;
    width: calc(100% /3 - 18px);
    display: flex;
    flex-direction: column;
}

.offers__card:last-child {
    margin-right: 0px;
}

.offers__header {
    overflow: hidden;
}

.offers__content {
    padding: 34px 39px 27px 17px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.offers__title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 19px;
}

.offers__features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 97%;
}

.offers__feature {
   align-items: center;
    color: #666666;
}

.offers__feature:last-child {
    margin-right: 0px;
}
.offers__feature--left {
    display: flex;
    justify-content: flex-start;
}

.offers__feature--right{
    display: flex;
    justify-content: flex-end;
}

.offers__feature-icon {
  margin-right: 11px;
}

.offers__text {
    color: #303030;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 27px;
}

.offers__button-wrapper {
     display: flex;
     margin-top: auto;
}