.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__display {
    margin-right: 23px;
}

.paginator__item {
    text-align: center;
}

.paginator__link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    font-weight: 700;
    line-height: 32px;
    display: block;
    transition: background-color 0.5s, color 0.5s;
}

.paginator__link:hover {
    background-color: #8F00FF;
}

.paginator--black-color {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-left: 35px;
}

.paginator--black-color .paginator__link:hover {
    color: #FFFFFF;
}

.paginator__display--black-color {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

