.socials {
    display: flex;
    align-items: center;
    margin-right: 82px;
    margin-bottom: 10px;
}

.social__item {
    margin-right: 6px;
}

.social__item:last-child {
    margin-right: 0px;
}

