
.top-line {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding-bottom: 23px;
 }
 
 .top-line::after {
     content: '';
     width: 100%;
     height: 400px;
     position: absolute;
     left: 0px;
     top: 0px;
     display: block;
     filter: grayscale(1);
     background: url(../../img/bg/header-games-page.png);
     z-index: -1;
 }
 
 .top-line__container {
     display: flex;
     flex: 1;
     flex-direction: column;
     justify-content: space-between;
 }
 
 .top-line__header {
     padding-top: 12px;
     margin-bottom: 2px;
 }