@import "../variables";
@import "../media";


.hamburger-menu {
    width: rem(26px);
    height: rem(22px);
    flex-direction: column;
    justify-content: space-between;
    display: none;

    &:active {
        .fullscreen-menu {
            display: flex;
        }
    }

    @include tablets {
        display: inline-flex;
    }
}

.hamburger-menu__strip {
    display: block;
    background: $black;
    height: 4px;
    border-radius: 10px;
}