.product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product__col--left {
  margin-right: rem(36px);
}

.product__features {
  display: inline-block;
  background: #9A9A9A;
  border-radius: 4px;
  width: rem(91px);
  height: rem(91px);
  margin-bottom: rem(24px);
  position: relative;
}

.product__features:hover .product-dropdown {
  display: block;
}

.product__features-img {
  position: absolute;
  top: 27%;
  right: 27%;
  width: rem(42px);
  height: rem(42px);
  fill: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.product__title {
  font-size: rem(36px);
  font-weight: 700;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: rem(20px);
  line-height: 42px;
}

.product__text {
  margin-bottom: rem(26px);
  max-width: rem(370px);
}

.product__price {
  display: inline-block;
  font-size: 36px;
  line-height: 60px;
  text-transform: uppercase;
  color: #151515;
  margin-right: rem(15px);
}