.player-section {
    background: #F8FAF9;
    .player-section__container {
        width: 41.375rem;
}}

.player {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    &__splash {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../img/player-img.jpg) center center/cover no-repeat;
        cursor: pointer;
        //660 na 405
    }

    &__controls {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: rem(35px);
        background: #151515;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(25px);
    }

    &__playback {
        height: 16px;
        width: 442px;
        position: relative;

        &:before {
        content: "";
        height: 4px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        background: #333;
        display: block;
        transform: translateY(-50%);
        }

        &-button {
            background: #E01F3D;
            border-radius: 50%;
            border: none;
            width: 12px;
            height: 12px;
            padding: 0;
            position: absolute;
            top: 20%;
            transform: translate(-50% -50%);
            left: 0;
        }
    }
}

button {
    cursor: pointer;
}

.player.active {
 .player__splash {
    display: none;
 }
}

.player {
    background: transparent;
    border: transparent;
    border: 10px solid transparent;
    border-left-color: #fff;
    border-right-width: 0;
    display: block;
    padding: 0;
    
    .player__start {
        background: transparent;
        border: transparent;
        border: 10px solid transparent;
        border-left-color: #fff;
        border-right-width: 0;
        display: block;
        padding: 0;
    }}
    
.player.paused {
    .player__start {
       border: 0px transparent;
    
    &::before {
        content: "";
        display: inline-block;
        width: 3px;
        height: 17px;
        margin-right: 5px;
        background: #fff;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 17px;
      
        background: #fff;
    }
}}



/*


.player.active {
    .player__splash {
       display: none;
    }
   }
   
   .player.paused {
   
       .player__start::before {
           display: none;
       }
   
       .player__start:after {
           content: "";
           display: block;
           width: 3px;
           height: 15px;
           background: #fff;
       }
   :before
       .player__start: {
           content: "";
           display: block;
           width: 3px;
           height: 15px;
           margin: 0 5px;
           background: #fff;
       }
     }
   
   .player__start {
       background: transparent;
       border: transparent;
       &::before {
           content: "";
           border: 11px solid transparent;
           border-left-color: #fff;
           border-right-width: 0;
           display: block;
       }
   }
   */