.benefit {
    text-align: center;

    &__img-wrapper {
        display: inline-block;
        width: rem(126px);
        height: rem(126px);
        position: relative;
        background: #F2F5F4;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: rem(24px);
    }

    &__icon {
        width: rem(68px);
        height: rem(68px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-weight: 700;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(7px);
    }
}


