$red: #E01F3D;

.button {
    display: inline-block;
    background: $red;
    border-radius: rem(100px);
    padding: rem(18px) rem(41px);
    color: #fff;
    font-weight: 700;
    font-size: rem(16px);
    text-transform: uppercase;
    line-height: rem(18px);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background: #CA1B36;
    }

&--no-bg {
    background: transparent;
    font-weight: 400;
    text-transform: capitalize;
    padding: rem(18px) rem(11px);

    &:hover {
        color: $red;
        background: transparent;
    }
}
}