.fixed-menu {
    position: fixed;
    top: 32%;
    right: 3%;
    z-index: 100;

    @include tablets {
        display: none;
    }

&__item {
    margin-bottom: rem(5px);

    &--active {
        .fixed-menu__link {
            border-color: #E01F3D;
            opacity: none;
    }
}
}
}

.fixed-menu__item--active { 
    .fixed-menu__link:before {
        background: #E01F3D;
    }
}

.fixed-menu__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;

    &::before {
        content: "";
        display: block;
        height: rem(6px);
        width: rem(6px);
        border-radius: 50%;
        background: #292929;
        position: absolute;
        opacity: 0.7;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}