.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-right: -0.625rem;
  margin-top: -0.375rem;
}
.header__contacts {
  margin-right: 1.5625rem;
}

.contacts__phone.header__contacts-phone {
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .contacts__phone.header__contacts-phone {
    display: none;
  }
}