.map {
    display: block;
    width: rem(1100px);
    height: rem(652px);
    
&__img {  
    height: rem(652px);
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: rem(0px);
    top: rem(0px);
}
}