.socials {
    display: flex;
    align-items: center;  
    margin-bottom: rem(10px);

    &__img {
        width: rem(30px);
        height: rem(30px);
        border-radius: 50%;
        position: relative;
    }
}

.socials__item {
    margin-right: rem(10px);

&:last-child {
    margin-right: rem(0px);
}
}


