.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 82px;
  margin-bottom: 10px;
}

.socials__item {
  margin-right: 8px;
}

.socials__item:last-child {
  margin-right: 0px;
}

.socials__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}