$containerWidth: 940px;
$baseFontSize: 16px;

$black: #292929;
$grey: #666666;
$red: #E01F3D;


//breakpoints
$tablets: 768px;
$phones: 480px;

@import "variables";
@import "media.scss";
@import "normalize";
@import "base";
@import "fonts";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/hamburger-menu";
@import "blocks/triggers";
@import "blocks/trigger";
@import "blocks/button";
@import "blocks/section";
@import "blocks/topblock";
@import "blocks/benefits";
@import "blocks/benefit";
@import "blocks/product-slider";
@import "blocks/product";
@import "blocks/product-dropdown";
@import "blocks/main-features";
@import "blocks/team";
@import "blocks/colors-menu";
@import "blocks/reviews";
@import "blocks/howWeWork";
@import "blocks/form";
@import "blocks/interactive-avatar";
@import "blocks/radio";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/contacts";
@import "blocks/socials";
@import "blocks/modal-form";
@import "blocks/fixed-menu";
@import "blocks/fullscreen-menu";


