$containerWidth: 940px;
$baseFontSize: 16px;

$black: #292929;
$grey: #666666;
$red: #E01F3D;

@import "normalize";
@import "base";
@import "fonts";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/triggers";
@import "blocks/trigger";
@import "blocks/button";
@import "blocks/section";
@import "blocks/topblock";
@import "blocks/benefits";
@import "blocks/benefit";
@import "blocks/reviews";


.fixed-menu__link {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #292929;
    opacity: 0.6;
    border: 1px solid transparent;
    display: block;
    position: relative;
}

.fixed-menu__item {
    margin-bottom: 5px;

    &--active {
   .fixed-menu__link {
        border-color: #E01F3D;
   }
}
}