$containerWidth: 940px;
$baseFontSize: 16px;

$black: #292929;
$grey: #666666;
$red: #E01F3D;

@import "normalize";
@import "base";
@import "fonts";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/triggers";
@import "blocks/trigger";
@import "blocks/button";
@import "blocks/section";
@import "blocks/topblock";
@import "blocks/benefits";
@import "blocks/benefit";
@import "blocks/reviews";
@import "blocks/form";
@import "blocks/interactive-avatar";
@import "blocks/radio";
@import "blocks/map";
@import "blocks/footer";
@import "blocks/fixed-menu";
@import "blocks/contacts";

