.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}
.benefit__img-wrapper {
  display: inline-block;
  width: 7.875rem;
  height: 7.875rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__img-wrapper {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}
.benefit__icon {
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.benefit__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.4375rem;
}