@import "../variables";
@import "../media";


.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

&__logo {
     margin-right: rem(-10px);
     margin-top: rem(-6px);
}

&__contacts {
    margin-right: rem(25px);
}
}

.contacts__phone.header__contacts-phone {
    white-space: nowrap;

    @include tablets {
        display: none;
    }
}