.hero {
  background-color: #F5F5F5;
  height: 100vh;
  min-height: 40.625rem;
  color: #292929;
  position: relative;
}
.hero__title-section {
  width: 42%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20.1875rem;
    height: 20.1875rem;
    background: url("../img/hero-tablets.png") center center/contain no-repeat;
    margin-bottom: 3.75rem;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .hero__title-section::before {
    margin-bottom: 3.125rem;
  }
}
.hero__container {
  background: url("../img/hero-img.png") right 4% top 42% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 8.75rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}
.hero__main-title {
  line-height: 3.25rem;
  margin-bottom: 1.375rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 6%;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    padding: 0 15%;
    margin-bottom: 0.875rem;
    line-height: 2.25rem;
  }
}
.hero__subtitle {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.5625rem;
  margin-bottom: 2.125rem;
  font-size: 1.3125rem;
  font-weight: 400;
  font-style: normal;
  width: 85%;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    padding: 0 16%;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    padding: 0 11%;
    margin-bottom: 1.625rem;
  }
}
.hero:after {
  content: "";
  position: absolute;
  right: 22%;
  width: 2.895rem;
  height: 0.64875rem;
  display: block;
  background: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}