@import "media.scss";

.team {
    display: flex;
    justify-content: space-between;

    @include tablets {
        padding: 0 10%;
        flex-direction: column;
        align-items: center;
    }
}

.team--desktop {

    .team__content {
        position: absolute;
        top: 100%;
    }

    @include tablets {
        display: none;
    }
}

.team--mobile {
    display: none;

    @include tablets {
        display: flex;
    }

  .team__item {
    margin-bottom: rem(10px);
  }
}

.team__item {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    position: relative;
    max-width: rem(220px);

    @include tablets {
        flex: initial;
        margin-right: 0;
        margin-bottom: rem(35px);
    }    
}

.team__photo {
    height: 290px;
    margin-bottom: rem(20px);
}

.team__title {
    color: #292929;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(21px);
    margin-bottom: rem(20px);
    border: none;
    background: none;

    &::after {
        content: "";
        border: 4px solid transparent;
        border-top: 7px solid #E01F3D;
        width: 0px;
        height: 0px;
        border-bottom-width: 0;
        margin-left: 5px;
        margin-top: 3px;
    }
}

.team__title:active {

    .team__title::after {
    transform: rotate(180deg);
} }

.team__content {
    overflow: hidden;
    transition: height 0.3s;
    height: 0;
}

.team__content-block {
    padding-bottom: rem(5px);
}

.team__occ {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292929;
    margin-bottom: rem(6px);
}

.team__content-text {
    line-height: 19px;
}