@import "../media";

.topblock {
    text-align: center;
    margin-bottom: rem(62px);

    &__subtitle {
        padding: 0 20%;

        @include tablets {
            padding: 0 16%;;
        }

        @include phones {
            padding: 0 11%;;
        }
    }

&__title {
    margin-bottom: rem(18px);
}
}

